@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/PTRootUI-Regular.eot");
  src: url("../fonts/PTRootUI-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTRootUI-Regular.woff2") format("woff2"), url("../fonts/PTRootUI-Regular.woff") format("woff"), url("../fonts/PTRootUI-Regular.ttf") format("truetype"), url("../fonts/PTRootUI-Regular.svg#PTRootUI-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/PTRootUI-Medium.eot");
  src: url("../fonts/PTRootUI-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/PTRootUI-Medium.woff2") format("woff2"), url("../fonts/PTRootUI-Medium.woff") format("woff"), url("../fonts/PTRootUI-Medium.ttf") format("truetype"), url("../fonts/PTRootUI-Medium.svg#PTRootUI-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "PT Root UI", sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 25px;
}

/* ---------- Header ---------- */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 2;
}
.header .container {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header .container::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 20.7%;
  height: 3px;
  background-color: #D70E2A;
}

.headerBody {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 59px;
}

.headerBody__logo {
  display: flex;
  padding: 15px 0;
}

.headerBody__logo-one, .headerBody__logo-two {
  width: 35px;
  height: 35px;
}

.headerBody__logo-two {
  align-self: center;
  margin: 0 35px 0 20px;
}

.headerBody__title {
  max-width: 704px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 32px;
  color: #000000;
  letter-spacing: 0.001em;
}

.burgerIcon {
  width: 24px;
  height: 16px;
  align-self: center;
  margin-right: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.burgerIcon span {
  width: 100%;
  height: 2px;
  background-color: #D70E2A;
}

/* ---------------------------- */
/* ---------- Body ---------- */
.main {
  padding: 60px 0 0 0;
}

.main__title {
  padding: 40px 0;
  max-width: 100%;
  font-size: 38px;
  font-weight: 600;
  line-height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@-moz-document url-prefix() {
  .main__title, .section__title {
    letter-spacing: -0.02em;
  }
}
/* -------------------------- */
/* ---------- Design section ---------- */
.design {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 40px 0 62px 0;
}

.section__title {
  max-width: 100%;
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.design__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 54px;
}

.design__part1 {
  max-width: 222px;
  padding: 20px 15px 25px 15px;
  border-radius: 5px;
  background-color: #171717;
}

.design__part1-img {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #515151;
}
.design__part1-img img {
  width: 162px;
  height: 112px;
}

.design__part1-desc {
  padding: 20px 0 0 0;
  font-weight: 500;
  line-height: 150%;
  color: #ffffff;
}

.design__part2, .design__part3 {
  max-width: 223px;
}

.design__part2-img {
  display: flex;
  justify-content: center;
  padding: 0 0 25px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.design__part3-img, .design__part4-img {
  display: flex;
  justify-content: center;
}

.design__part2-desc, .design__part3-desc, .design__part4-desc {
  padding: 18px 0 0 0;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
}

.design__part4 {
  max-width: 222px;
}

/* ------------------------------------ */
/* ---------- Scanner (video) section ---------- */
.scanner {
  padding: 38px 0 62px 0;
}

.scanner__body {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.scanner__img {
  flex: 0 0 465px;
  align-self: flex-start;
}
.scanner__img img {
  max-width: 100%;
}

.scanner__features {
  flex: 1 0 465px;
  display: flex;
  flex-direction: column;
}

.feature {
  padding: 0 0 0 143px;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
}
.feature:nth-child(1) {
  background: url("../img/icons/качество_съемки.png") 10% 52% no-repeat;
}
.feature:nth-child(2) {
  background: url("../img/icons/стабилизация.png") 10% 52% no-repeat;
  padding: 40px 0 40px 143px;
}
.feature:nth-child(3) {
  background: url("../img/icons/замедленная_съемка.png") 10% 52% no-repeat;
}

/* --------------------------------------------- */
/* ---------- Accessories section ---------- */
.accessories {
  padding: 38px 0 62px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.accessories__body {
  display: flex;
  justify-content: space-between;
  margin-top: 54px;
}

.accessories__card_type1, .accessories__card_type2 {
  width: 223px;
}

.accessories__card_type1-img {
  display: flex;
  justify-content: center;
  padding: 0 0 25px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.accessories__card_type1-img img {
  width: 222px;
  height: 115px;
}

.accessories__card_type1-desc, .accessories__card_type2 {
  padding: 19px 0 0 0;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
}

.accessories__card_type2 {
  position: relative;
}
.accessories__card_type2::before {
  content: "";
  position: absolute;
  top: 0;
  width: 23%;
  height: 1px;
  background: #000;
}
.accessories__card_type2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}

/* ----------------------------------------- */
/* ---------- Apps section ---------- */
.apps {
  padding: 38px 0;
}

.apps__body {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.apps__item {
  max-width: 303px;
  align-self: flex-start;
  margin-bottom: 50px;
}
.apps__item:nth-child(2), .apps__item:nth-child(5) {
  margin: 0 20px;
}

.apps__img {
  display: flex;
  justify-content: center;
}

.apps__desc {
  padding: 18px 0 0 0;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
}

/* ---------------------------------- */
@media screen and (max-width: 1000px) {
  .container {
    max-width: 720px;
  }

  /* ---------- Design section ---------- */
  .design {
    padding: 40px 0 60px 0;
  }

  .design__body {
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .design__part1, .design__part2, .design__part3, .design__part4 {
    max-width: 325px;
  }

  .design__part1-img img {
    width: 265px;
    height: 183px;
  }

  .design__part2-desc, .design__part3-desc, .design__part4-desc {
    font-size: 14px;
  }

  .design__part3, .design__part4 {
    margin-top: 50px;
  }

  .design__part3-desc br {
    display: none;
  }

  .design__part3-desc, .design__part4-desc {
    padding: 20px 0 0 0;
  }

  /* ------------------------------------ */
  /* ---------- Scanner (video) section ---------- */
  .scanner .section__title {
    line-height: 42px;
  }

  .scanner__img, .scanner__features {
    flex-basis: 325px;
  }

  .feature {
    font-size: 14px;
  }
  .feature:nth-child(n) {
    background-position: 14% 50%;
  }

  /* --------------------------------------------- */
  /* ---------- Accessories section ---------- */
  .accessories__body {
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .accessories__card_type1, .accessories__card_type2 {
    width: 325px;
  }

  .accessories__card_type2 {
    margin-top: 51px;
  }
  .accessories__card_type2::before {
    width: 15%;
  }

  .accessories__card_type1-img img {
    width: 325px;
    height: 168px;
  }

  .accessories__card_type1-desc, .accessories__card_type2 {
    font-size: 14px;
  }

  /* ----------------------------------------- */
  /* ---------- Apps section ---------- */
  .apps__body {
    margin-top: 52px;
  }

  .apps__item {
    width: 210px;
    margin-bottom: 40px;
  }

  .apps__desc {
    font-size: 14px;
  }

  /* ---------------------------------- */
}
@media screen and (max-width: 719px) {
  .container {
    max-width: none;
  }

  /* ---------- Design section ---------- */
  .design__part1 {
    max-width: 100%;
  }

  .design__part1-img img {
    max-width: 80%;
  }

  .design__part2 {
    max-width: 100%;
    order: 4;
  }

  .design__part3, .design__part4 {
    width: 50%;
    margin: 70px 0;
  }

  /* ------------------------------------ */
  /* ---------- Scanner (video) section ---------- */
  .scanner__body {
    flex-wrap: wrap;
  }

  .scanner__img {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }

  .scanner__features {
    margin-top: 40px;
  }

  .feature {
    margin-top: 20px;
  }
  .feature br {
    display: none;
  }
  .feature:nth-child(n) {
    background-position: 50% 5%;
    padding: 70px 0 0 0;
  }

  /* --------------------------------------------- */
  /* ---------- Accessories section ---------- */
  .accessories__card_type1 {
    width: 100%;
    margin-bottom: 40px;
  }

  .accessories__card_type1-img img {
    max-width: 100%;
  }

  .accessories__card_type2 {
    width: 45%;
  }

  /* ----------------------------------------- */
  /* ---------- Apps section ---------- */
  .apps__body {
    justify-content: center;
  }

  .apps__item:nth-child(n) {
    margin: 20px;
  }
}
@media screen and (max-width: 550px) {
  .container {
    padding: 0 15px;
  }

  /* ---------- Header ---------- */
  .header {
    position: relative;
  }
  .header::after {
    content: "Samsung Galaxy S10";
    position: absolute;
    width: 100%;
    height: 24px;
    background: #EFEFEF;
    padding: 5px 15px;
    font-size: 10px;
    line-height: 140%;
    opacity: 0.7;
    letter-spacing: -0.01em;
  }
  .header .container::after {
    display: none;
  }

  .headerBody {
    height: 49px;
  }

  .headerBody__logo {
    align-items: center;
  }

  .headerBody__logo-one {
    width: 25px;
    height: 25px;
  }
  .headerBody__logo-one img {
    max-width: 100%;
  }

  .headerBody__logo-two {
    width: 30px;
    height: 30px;
    margin: 0 0 0 15px;
  }
  .headerBody__logo-two img {
    max-width: 100%;
  }

  .headerBody__title {
    display: none;
  }

  /* ---------------------------- */
  /* ---------- Body ---------- */
  .main {
    padding: 15px 0 0 0;
  }

  .main__title {
    padding: 40px 0 31px 0;
    font-size: 30px;
    line-height: 133%;
    white-space: normal;
  }

  @-moz-document url-prefix() {
    .main__title {
      padding: 40px 0 30px 0;
    }
  }
  /* -------------------------- */
  /* ---------- Design section ---------- */
  .design {
    padding: 19px 0 51px 0;
  }

  .section__title {
    font-size: 22px;
    line-height: 141%;
    white-space: normal;
  }

  .design__body {
    margin-top: 30px;
  }

  .design__part1-img img {
    max-width: none;
    width: 230px;
    height: 158px;
  }

  .design__part1-desc {
    padding: 19px 0 0 0;
  }

  .design__part2-img {
    padding: 0 0 27px 0;
  }

  .design__part3, .design__part4 {
    width: 48.5%;
    margin: 40px 0;
  }

  .design__part3-desc, .design__part4-desc {
    font-size: 12px;
    line-height: 142%;
  }

  /* ------------------------------------ */
  /* ---------- Scanner (video) section ---------- */
  .scanner {
    padding: 13px 0 32px 0;
  }

  .scanner__body {
    margin-top: 25px;
  }

  .scanner__features {
    flex-basis: 100%;
    margin-top: 15px;
  }

  .feature {
    margin-top: 25px;
  }
  .feature:nth-child(n) {
    padding: 85px 0 0 0;
  }

  /* --------------------------------------------- */
  /* ---------- Accessories section ---------- */
  .accessories {
    padding: 38px 0 52px 0;
  }

  .accessories__body {
    margin-top: 30px;
  }

  .accessories__card_type1-img {
    padding: 0 0 8px 0;
  }

  .accessories__card_type2 {
    width: 48.5%;
    margin-top: 1px;
    font-size: 12px;
    line-height: 142%;
  }
  .accessories__card_type2::before {
    width: 30%;
  }

  /* ----------------------------------------- */
  /* ---------- Apps section ---------- */
  .apps {
    padding: 19px 0;
  }

  .apps__body {
    margin-top: 10px;
  }

  .apps__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0 30px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .apps__item:nth-child(1) {
    padding: 20px 0 30px 0;
  }
  .apps__item:nth-child(1) img {
    padding: 3px 0 0 7px;
  }
  .apps__item:nth-child(2) {
    flex-direction: row-reverse;
  }
  .apps__item:nth-child(2) img {
    padding: 3px 8px 0 0px;
  }
  .apps__item:nth-child(3) img {
    padding: 3px 0 0 7px;
  }
  .apps__item:nth-child(4) {
    flex-direction: row-reverse;
    padding: 30px 0 30px 0;
  }
  .apps__item:nth-child(4) .apps__desc {
    padding: 5px 0 0 0;
  }
  .apps__item:nth-child(4) img {
    padding: 0 7px 0 0;
  }
  .apps__item:nth-child(5) {
    padding: 30px 0 25px 0;
    border-bottom-style: none;
  }
  .apps__item:nth-child(5) .apps__desc {
    padding: 5px 0 0 0;
  }
  .apps__item:nth-child(5) img {
    padding: 0 0 0 7px;
  }
  .apps__item:nth-child(n) {
    margin: 0;
  }

  .apps__img {
    align-self: center;
  }

  .apps__desc {
    max-width: 205px;
    font-size: 12px;
    line-height: 142%;
    padding: 0;
  }
}